#root {
  border: 1px solid black;
  max-width: 1280px;
  min-width: 1280px;

  min-height: 720px;
  max-height: 720px;
  
  margin: 0 auto;
  padding: 2rem;
  padding: "1px solid black";
  text-align: center;
}

